[rocker_1]
address         = 0xBABECAFE
rorg            = 0xF6
func            = 0x02
type            = 0x02

[smoke_detector]
address         = 0xABADC0DE
rorg            = 0xA5
func            = 0x02
type            = 0x05

[shutter]
address         = 0x12345678
rorg            = 0xD2
func            = 0x05
type            = 0x00

[pilotwire]
address         = 0xDEADBEEF
rorg            = 0xD2
func            = 0x01
type            = 0x0C

[non_interesting]
address         = 0xBAAAAAAD
# This sensor will be ignored
ignore          = 1
