## the general section defines parameter for the mqtt broker and the enocean interface
[CONFIG]
enocean_port    = /dev/enocean
log_packets     = 1
overlay         = HA
#mapping_file    = /config/mapping.yaml   # Uncomment if you want to use a custom mapping.yaml file
#db_file         = /config/devices.db  # Uncomment if you want to specify another location for the device database

## the discovery prefix is used by MQTT discovery in Home Assistant
mqtt_discovery_prefix = homeassistant/

mqtt_host       = localhost
mqtt_port       = 1883
mqtt_client_id  = enocean_gateway   # ensure that this is unique if you use multiple clients

## setting mqtt_keepalive = 0 sets the timeout to infinitive but does not work reliably
## due to an upstream issue https://github.com/eclipse/paho.mqtt.python/issues/473
mqtt_keepalive  = 60

## the prefix is used for the mqtt value names; this is extended by the sensor name
mqtt_prefix     = enoceanmqtt/

# Set mqtt_user and mqtt_pwd (don't use quotes).
mqtt_user       = mqtt
mqtt_pwd        = password

## enable SSL on MQTT connection
## Ensure that mqtt_host matches one of the hostnames contained in the broker's
## certificate, otherwise the client will refuse to connect.
##
## mqtt_ssl_ca_certs: CA certificates to be treated as trusted. Required if
##     the MQTT broker is configured with a self-signed certificate.
## mqtt_ssl_certfile, mqtt_ssl_keyfile: Client certificate and private key.
##     Only required if the broker requires clients to present a certificate.
## mqtt_ssl_insecure: Disable verification of the broker's certificate.
##     WARNING: do NOT use on production systems as this is insecure!
##
# mqtt_ssl          = true
# mqtt_ssl_ca_certs = /path/CA_files_merged.pem
# mqtt_ssl_certfile = /path/client_cert.pem
# mqtt_ssl_keyfile  = /path/client_key.pem
# mqtt_ssl_insecure = true

## Enable/Disable MQTT debugging. Requires --debug on the command line.
mqtt_debug      = false


## all other sections define the sensors to monitor

# Define an FSB14 device
[my_fsb14]
address = 0xYYYYYYYY # The address of your FSB14
model   = eltako/fsb14
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FSB61 device
[my_fsb61]
address = 0xYYYYYYYY # The address of your FSB61
model   = eltako/fsb61
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FSR14 device
[my_fsr14]
address = 0xYYYYYYYY # The address of your FSR14
model   = eltako/fsr14
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FSR61 device
[my_fsr61]
address = 0xYYYYYYYY # The address of your FSR61
model   = eltako/fsr61
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FHD60SB device
[my_fhd60sb]
address = 0xYYYYYYYY # The address of your FHD60SB
model   = eltako/fhd60sb
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FUD14 device
[my_fud14]
address = 0xYYYYYYYY # The address of your FUD14
model   = eltako/fud14
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FUD61 device
[my_fud61]
address = 0xYYYYYYYY # The address of your FUD61
model   = eltako/fud61
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define a TF61L device
[my_tf61l]
address = 0xYYYYYYYY # The address of your TF61L
model   = eltako/tf61l
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define a TF61J device
[my_tf61j]
address = 0xYYYYYYYY # The address of your TF61J
model   = eltako/tf61j
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FJ62 device
[my_fj62]
address = 0xYYYYYYYY # The address of your FJ62
model   = eltako/fj62
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

# Define an FDG14 device
[my_fdg14]
address = 0xYYYYYYYY # The address of your FDG14
model   = eltako/fdg14
sender  = 0xFFXXXXXX # base id of your EnOcean transceiver + unique offset

[rocker_1]
address         = 0xBABECAFE
rorg            = 0xF6
func            = 0x02
type            = 0x02

[smoke_detector]
address         = 0xABADC0DE
rorg            = 0xA5
func            = 0x02
type            = 0x05

[shutter]
address         = 0x12345678
rorg            = 0xD2
func            = 0x05
type            = 0x00

[pilotwire]
address         = 0xDEADBEEF
rorg            = 0xD2
func            = 0x01
type            = 0x0C

[non_interesting]
address         = 0xBAAAAAAD
# This sensor will be ignored
ignore          = 1
